---
export interface Props {
	title: string;
	body: string;
	link: string;
	color: string;
	image: string;
}

const { link, title, body, color, image } = Astro.props;
---

<div class=`flex bg-[${color}] h-[40vh] w-[80vh] rounded-sm`>
	<div class="card-text w-[50%] p-5 text-[#e9e9e9] flex flex-col gap-4">
		<h2 class="text-lg font-medium">{title}</h2>
		<p class="text-base font-normal ">{body}</p>
	<a href=`{$link}` class="bg-transparent px-5 py-3 border border-white  text-center text-white font-medium max-w-fit rounded-md hover:bg-white hover:text-black  ease-in duration-200">Know More</a>
	</div>
	<img class="w-[50%]  object-cover" src=`${image}` alt="">
</div>